<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
	<link rel="stylesheet" href="/recursos/CSS/index.style.css" />
	<link rel="stylesheet" href="/recursos/CSS/style.landing.css"></link>
	<link rel="stylesheet" href="/recursos/CSS/estilos.css"></link>
	<title>Inicio</title>
</head>

<body> 
	 <header th:replace="layout/layout :: header"></header>
	 
        <h1>My Dress Up Closet</h1>

        <div class="imagenes">
            <img class="img2" src="./recursos/Imagenes/1.png" alt="chico"/>
            <img src="./recursos/Imagenes/2.png" alt="chico"/>
            <img class="img2" src="./recursos/Imagenes/3.png" alt="chico"/>
        </div>

    </div>

</body> 
</html>
