*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 126px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration:none;
    color:inherit;
    background-color: rgb(247, 247, 238,100%);
}


.header_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    
}


.header_purchase{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    
   
}
.title{
    font-size: 25px;
    padding-top: 40px;
}

.title-2{
    font-size: 40px;
    padding-top:30px;
}

a{
    text-decoration: none;
    color: inherit;
}


.header_logout{
    width: 400px;
    display: flex;
    justify-content: center;
}

.wrapper{
    background-color: rgb(219, 190, 165, 100%);
    display: flex;
    flex-direction: row;
    padding-top: 45px;
    text-align: center;
    font-size: 25px;
    height: 850px;
}

.wrapper-armario{
    width: 884px;
    height: 708;
    background: rgb(247, 247, 238, 100%);
}

.img{
    width: 386px;
    height: 508px;
}
